{% extends 'webinterface/base.html' %}

{% block minerlist %}
    {% if all_miners %}
        {% for miner in all_miners %}
            {% if miner.status|stringformat:"s" == "OK" %}
                <tr class="success">
            {% elif miner.status|stringformat:"s" == "Warning" %}
                <tr class="warning">
            {% elif miner.status|stringformat:"s" == "Down" %}
                <tr class="danger">
             {% else  %}
                <tr> NO CLASS FOUND
            {% endif %}
                    <td>
                        {{ miner.name }}
                    </td>
                    <td>
                        {{ miner.ip }}
                    </td>
                    <td>
                        {{ miner.id }}
                    </td>
                    <td>
                        TO DO
                    </td>
                    <td>
                        {{ miner.status }}
                    </td>
                </tr>

        {% endfor %}
    {% else %}
        <h2>no miners found found!</h2>
    {% endif %}
{% endblock %}