{% extends 'webinterface/base.html' %}

{% block minerlist %}
    {% if all_miners %}
        {% for miner in all_miners %}
            {% if miner.status == "1" %}
                <tr class="success">
            {% elif miner.status == "2" %}
                <tr class="warning">
            {% elif miner.status == "3" %}
                <tr class="danger">
            {% endif %}
                    <td>
                        {{ miner.name }}
                    </td>
                    <td>
                        {{ miner.ip }}
                    </td>
                    <td>
                        {{ miner.id }}
                    </td>
                    <td>
                        TO DO
                    </td>
                    <td>
                        {% if miner.status == "1" %}
                            OK
                        {% elif miner.status == "2" %}
                            Warning
                        {% elif miner.status == "3" %}
                            Down
                        {% endif %}
                    </td>
                </tr>

        {% endfor %}
    {% else %}
        <h2>no miners found found!</h2>
    {% endif %}
{% endblock %}